/* HOME */
.main__container {
  width: 50%;
  min-height: 66vh;
  display: flex;
  flex-direction: row;
  /* padding: 5vw; */
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  justify-content: center;
  /* border-bottom: 3px solid rgb(0, 188, 212); */
  margin: 0 auto 50px auto;
  padding-top: 125px;
}

.main__container_titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h2,
.h3 {
  margin-top: 0;
  color: white;
}
.span {
  color: #5a91f5;
}
.avatar {
  align-self: center;
  width: 360px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* CAREER */
.presentation {
  width: 50%;
  font-size: 1.3rem;
  margin: 0 auto;
}

.presentation {
  font-family: "Oswald", sans-serif;
}
.h1 {
  width: 50%;
  border-bottom: 3px solid rgb(0, 188, 212);
  text-align: start;
}

@media screen and (max-width: 768px) {
  .main__container {
    font-size: 2rem;
    padding-top: 50px;
  }
  .avatar {
    width: 200px;
  }
  .cv {
    width: 120px;
  }
}
@media screen and (max-width: 438px) {
  .avatar {
    display: none;
  }
  .h1 {
    width: 80%;
    text-align: left;
  }
  .presentation {
    width: 80%;
  }
}
.contactIcon {
  width: 35px;
  height: 35px;
}
.a,
.cv {
  color: rgb(0, 188, 212);
  text-decoration: none;
  font-size: 1.1rem;
}
.contactIcon:hover {
  transform: scale(1.1);
}
.cv {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #0070d2;
  padding: 7px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.cv:hover {
  transform: scale(1.2);
  background: #0070d2;
  color: white;
  transition: 0.2s ease;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
