@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  height: 5vh;
  position: fixed;
  width: 80%;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  z-index: 1;
  background: transparent;
  backdrop-filter: blur(5px);
}
/* .header:hover {
   transform: translate(-50%, -50%) scale(1.01);
} */
.imgFlag {
  width: 90px;
  border-radius: 50%;
}
.darkAndWhite:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.darkAndWhite {
  align-self: center;
  width: 55px;
  color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.languageButton {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #5a91f5;
  transition: color 0.3s;
  background: none;
  align-self: center;
  align-items: center;
  display: inline-flex;
}
.languageButton:hover {
  color: #a9c6fb;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header {
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0%, 0%);
  }
  .header:hover {
    transform: none;
  }
}
